body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

#dashboard {
    max-width: 200px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#scrapeBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
}